.list__button-completed {
  background-image: url(../../../images/list/icon1.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
}

.list__button-bin:hover {
  opacity: 0.6;
}

@media screen and (max-width: 568px) {
  .list__button-completed {
    background-size: 18px;
    width: 18px;
    height: 18px;
  }
}
