.footer__author {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  padding: 0;
  margin: 5px 0 0 10px;
  color: #4aac7a;
}

@media screen and (max-width: 568px) {
  .footer__author {
    font-size: 12px;
  }
}
