.list__name {
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  opacity: .8;
  text-rendering: optimizeLegibility;
  text-align: center;
  margin: 0;
  padding: 0
}

@media screen and (max-width: 1060px) {
  .list__name {
    font-size: 15px;
  }
}
