.list__button-bin {
  background-image: url(../../../images/list/bin.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  object-fit: cover;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s linear;
  margin: 0;
  padding: 0;
}

.list__button-bin:hover {
  opacity: 0.6;
}
