.header__subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  max-width: 300px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1060px) {
  .header__subtitle {
    font-size: 14px;
  }
}

@media screen and (max-width: 568px) {
  .header__subtitle {
    font-size: 12px;
  }
}
